* {
    margin:0;
    padding:0;
   box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* colour variants */
    --blue-dark: #362FD9;
    --black-type: #040D12;
    --white-type: aliceblue;
}
body, html {
    height: 100vh;
    margin: 0;
    font-family: Inter;
    color: var(--white-type);
    background-color: var(--blue-dark);
    scroll-behavior: smooth;
}

header {
    height: 17%;
    background-image: linear-gradient(#362FD9,#2d27c4)
   
}

/*navigation css*/
nav {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    position: fixed;
    display: flex;

    
    
}

nav ul{
    display: flex;
    font-weight: 500;
    width: 100%;
    grid-gap: 2%;
    list-style-type: none;
    padding: 1em 3em;
   
}

.main-nav {
    overflow: hidden;
    width: 100%;
    padding:0
 } 

.main-nav ul li a {
    text-decoration: none;
    color: var(--white-type);
    border-style: dashed;
    padding: 0.5em 1em;

  
}

.main-nav ul li a:hover {
    border-style: solid;
   
}

.main-nav ul li a:active {
    border-style: solid;
    color: var(--white-type);
    
   
}

/*navigation css ends*/

section {
    width: 100%;

}
/*text css*/
h1 {
    font-family: vortice-concept;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--white-type);
    text-align: center;
    display: block;
    padding: 6em;
}

p {
    text-align:justify;
    font-size: 2.5em;
}
/*text css ends*/

img {
    max-width: 100%;
}

.pg-padding {
    padding: 2%;
    width: 100%;
}

.mainstyle {
    min-width: 100%;
    height: 100vh;
    background-color: var(--blue-dark);
}

.column {
    float: left;
    width: 50%;
    padding: 10%;
}
.row::after {
    content: "";
    clear: both;
    display: table;


}





/*scroll down anim css*/

.mouse_scroll {
	display:block;
    position:relative;
    bottom: 20%;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
    margin-bottom: 10px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid var(--white-type);
  border-bottom: 2px solid var(--white-type);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid aliceblue;
  border-color: aliceblue;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: var(--white-type);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid var(--white-type);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/*scroll down anim css ends*/

/*id css*/
#one {
    background-image: linear-gradient(#2C25C9, #362FD9);
}



/*media queries*/