* {
    margin:0;
    padding:0;
   box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* colour variants */
    --blue-dark: #362FD9;
    --black-type: #040D12;
    --white-type: aliceblue;
}
body, html {
    min-height: 100vh;
    margin: 0;
    font-family: Inter;
    color: var(--white-type);
    background-color: #9D9AEE;
    scroll-behavior: smooth;
}

header {
    height: 0%;
    background-image: linear-gradient(#362FD9,#2d27c4)
   
}

/*navigation css*/
nav {
    margin-top: 1%;
    margin-bottom: 2%;
    width: 100%;
    position: fixed;
    display: flex;

    
    
}

nav ul{
    display: flex;
    font-weight: 500;
    width: 100%;
    grid-gap: 2%;
    list-style-type: none;
    padding: 1% 3%;
   
}

.main-nav {
    overflow: hidden;
    width: 100%;
    padding:0
 } 

.main-nav ul li a {
    text-decoration: none;
    color: var(--white-type);
    border-style: dashed;
    padding: 0.5em 1em;
    text-shadow: 0 0 0.4em var(--blue-dark);
    

  
}

.main-nav ul li a:hover {
    border-style: solid;
   
}

.main-nav ul li a:active {
    border-style: solid;
    color: var(--white-type);
    
   
}

/*navigation css ends*/

/*text css*/
img {
    max-width: 100%;
}

h1 {
    font-family: vortice-concept;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--white-type);
    text-align: center;
    width:100%;
    
    
    

}

h2 {
    font-family: Inter;
    font-size: 2.5em;
    font-weight: 300;
    color: var(--white-type);
    text-align: center;
    width:100%;
    
    
    margin: 0 auto;
    padding: 0 auto;

}

p {
    text-align:justify;
    font-size: 2.5em;
    margin: auto;
    
}

strong {
    font-family: vortice-concept;
    font-size: 13em;
    display: block;
    text-align: center;
    margin: 0 auto;
    
}


/*text css ends*/

/*centering grid css*/
.outer {
    display: grid;
    place-items: center;
  }
  .outer > * {
    grid-column: 1fr / 1fr;
    grid-row: 1fr / 8fr;
  }

/*scroll down anim css*/

.mouse_scroll {
    display:block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    
    
    
    
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid var(--white-type);
  border-bottom: 2px solid var(--white-type);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid aliceblue;
  border-color: aliceblue;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: var(--white-type);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid var(--white-type);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/*scroll down anim css ends*/




.pg-padding {
    padding: 3% 4%;
   
}

.container {
    max-width: 80%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainstyle {
    min-width: 100%;
    height: 100vh;
    background-color: var(--blue-dark);
}


.introintro {
    padding-top: 15%;
    padding-bottom: 6%;
    text-align: center;
}
.intro-info {
    width:75%;
    height: 25%;
    margin: auto;
}

.column {
    float: left;
    width: 33.33%;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}
#one {
    background-image: linear-gradient(#2C25C9, #362FD9);
}
#two {
    background-image: linear-gradient(#362FD9, #4A44DD);
}
#three {
    background-image: linear-gradient(#4A44DD,#5F59E2);
}
#pthree { 
    position: relative;
}
#four {
    background-image: linear-gradient(#5F59E2,#736EE6);
}
#five {
    background-image: linear-gradient(#736EE6,#d4d8db);
}
#six {
    height: 100vh;
    background-image: url(../images/prairie-bkgd.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



#seven {
    height: auto;
    background-image: linear-gradient(#9D9AEE,#B2B0F2);

}

/*media queries*/
@media screen and (max-width: 700px) {
    h1 {
    font-size: 32px; 
    }
}